<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DomZdravlja.DataAccess.Properties.Settings.DomZdravljaDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=DomZdravljaDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>